[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "static/bootswatch"]
	path = static/bootswatch
	url = https://github.com/marlboromoo/bootswatch
